<!-- <nav>
  <mat-toolbar color="primary" class="custom-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="title">Blog App</span>

    <span class="spacer"></span> -->


    <!-- Register / Login button -->
    <button mat-raised-button color="accent" class="auth-btn" routerLink="/auth">Register / Login</button>
    <!-- <button mat-raised-button color="accent" class="auth-btn" routerLink="/auth">
      <div class="stacked-text">
        <span>Register</span>
        <span>Login</span>
      </div>
    </button> -->
  <!-- </mat-toolbar>
</nav> -->

<!-- child component rendering -->
<!-- <router-outlet></router-outlet> -->
