.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;

}
.container{
  background: linear-gradient(to right, #f5a5d1, #b88ef5, #a5e0f6, #ffffff);
}
mat-card{
    padding: 10px;

  background: linear-gradient(to right, #f5a5d1, #b88ef5, #a5e0f6, #ffffff);
}
.example-header-image {
  background-image: url('https://img.icons8.com/?size=100&id=2yC9SZKcXDdX&format=png&color=000000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  background-size: cover;
}
mat-card-footer{
    margin-left: 20px;
}
.poster-img {
  width: 450px;
    height: 230px;
    object-fit: cover;
    margin-top: 15px;
}

mat-card-subtitle {
  margin-top: 1.3%;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
mat-card-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;

}

mat-card-actions button {
  text-transform: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid darkblue;
  font-weight: bold;

}
mat-card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

