<div *ngIf="postData" class="card-container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ postData.name }}</mat-card-title>
            <mat-card-subtitle>Posted by : {{ postData.user.name }} | Posted On : {{ postData.date | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'http://localhost:8080/uploads/' + postData.img" alt="Card Image" class="img" style="height: auto; width: 100%; max-height: 350px; object-fit: contain;">
        <mat-card-content>
            {{ postData.content }}
        </mat-card-content>
        <br>
        
        
        <mat-card-actions>
            <button mat-raised-button color="primary" style="margin-left: 5px; border:1px solid darkblue" (click)="likePost()">{{postData.likeCount}}
                <mat-icon>favorite</mat-icon></button>
            <button mat-raised-button color="primary" style="margin-left: 5px; border:1px solid darkblue">{{postData.viewCount}}
                <mat-icon>remove_red_eye</mat-icon></button>
            <button  *ngIf="postData?.user?.id === sessionUser?.id" mat-raised-button color="primary" style="margin-left: 5px; border:1px solid darkblue" (click)="showCommentForm = !showCommentForm">
                  <mat-icon style="margin: auto;">chat</mat-icon>
                </button>

          <button *ngIf="postData?.user?.id === sessionUser?.id" mat-raised-button color="primary" style="margin-left: 5px; border:1px solid darkblue" (click)="editPost()">
              <mat-icon style="margin: auto;">edit</mat-icon></button>
          <button *ngIf="postData?.user?.id === sessionUser?.id" mat-raised-button color="primary" style="margin-left: 5px; border:1px solid darkblue" (click)="deletePost()">
              <mat-icon style="margin: auto;">delete</mat-icon></button>

      </mat-card-actions>
    </mat-card>


    <mat-card class="center-card" *ngIf="isEditingPost">
      <mat-card-content>
        <div class="create-post-heading">
          <h2>Update Your Post</h2>
        </div>
        <div class="form-container">
          <form [formGroup]="postForm">
            <div class="form-group">
              <label for="name"> Post Name</label>
              <input id="name" formControlName="name" class="custom-input" type="text" placeholder="Enter Name" />
            </div>

            <div class="form-group">
              <label for="img">Image</label>
              <input id="img" formControlName="img" class="custom-input" type="file" (change)="onFileSelected($event)" />
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea id="content" rows="5" formControlName="content" class="custom-input" placeholder="Enter Content"></textarea>
            </div>

            <button mat-raised-button color="primary" style="float: right; margin-left: 8px;  margin-top:2%; font-family: Georgia, 'Times New Roman', Times, serif; border:1px solid darkblue; font-weight: 600;"
              (click)="updatePost()">Update Post</button>

            <button mat-raised-button color="warn" style="float: right;  margin-top:2%; border:1px solid darkblue;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: 600  ;" (click)="isEditingPost = false;">Cancel</button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>

<mat-card *ngIf="sessionUser && showCommentForm" class="comment-card fancy-comment">
  <mat-card-content>
    <h3 class="section-title" style="font-size:1.5rem;margin-top:-3%">
      <mat-icon>chat</mat-icon> Publish Your Comment
    </h3>
    <form [formGroup]="commentForm" class="comment-form">
      <div class="form-group">
        <textarea id="content" formControlName="content" placeholder="Write something cool..." style="width: 97%;"></textarea>
      </div>
      <button mat-raised-button (click)="publishComment()" color="primary" class="publish-btn">
        Publish Comment <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>




      <div class="comment-display-section">
        <h4 style="color:#000000">Comments</h4>
        <mat-card class="comment-card display" *ngFor="let comment of comments" >
          <mat-card-content class="comm" >
            <div *ngIf="!comment.isEditing">{{ comment.content }}</div>
            <div *ngIf="comment.isEditing">
              <textarea [(ngModel)]="comment.newContent" rows="3" style="width: 97%;"></textarea>
              <div style="text-align: right; margin-top: 10px;">
              <button mat-raised-button color="accent" *ngIf="comment.isEditing" (click)="comment.isEditing=false" style="color:darkblue;background-color: white;border:1px solid darkblue;font-family:Georgia, 'Times New Roman', Times, serif">
                Cancel
               </button>
               <button mat-raised-button color="accent" *ngIf="comment.isEditing" (click)="updateComment(comment)" style="margin-left: 5px; color:darkblue;background-color: white;border:1px solid darkblue;font-family:Georgia, 'Times New Roman', Times, serif">
               Update Comment
              </button>
            </div>
            </div>
          </mat-card-content>

          <mat-card-header >
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="username" style="font-size: 16px;">{{ comment.user.name }}</mat-card-title>
            <mat-card-subtitle class="date" style="font-size: 15px;">{{ comment.createdAt | date: 'medium' }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-actions class="downbuttons" *ngIf="sessionUser">
            <button mat-button color="warn"
            *ngIf="sessionUser?.id === comment.user.id || sessionUser?.id === postOwnerId"
            (click)="deleteComment(comment.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>

            <button mat-button color="primary"
            *ngIf="sessionUser?.id === comment.user.id"
            (click)="editComment(comment)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>

