.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  // background-color: blue;
  // background: linear-gradient(to right, #ea0089, #894fe6, #00c9ff, #ffffff);
  background: linear-gradient(to right, #f5a5d1, #b88ef5, #a5e0f6, #ffffff);

}
button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  // border: 1px solid darkblue;
}
span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.6rem;
  font-weight: normal;
}

